<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="/main.css"/>
</head>

<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>

<body>

<h1 th:text="#{title}"></h1>
<p th:text="#{message}"></p>

<select class="rounded-0 form-control" id="locales">
    <option value=""></option>
    <option value="pl" th:text="#{lang.pl}"></option>
    <option value="en" th:text="#{lang.en}"></option>
    <option value="de" th:text="#{lang.de}"></option>
</select>

</body>
</html>